:root {
  --lightSteelBlue: #b4aee8;
  --lavender: #f0eefa;
  --thistle: #c7c1db;
  --darkSlateBlue: #4440b3;
  --darkGray: #979ea9;
}
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap&family=Open+Sans:wght@300&display=swap");
h1-h4 {
  font-family: "Archivo Black", sans-serif;
}
p,
a {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  background-color: var(--lavender);
  
  
}
a {
  text-decoration: none;
  color: black;
  
}
a:hover {
    transition: 0.3s;
    color:var(--darkGray);
    cursor: pointer;
}
header {
    width:100%;
  display: flex;
  align-items: center;
  justify-content: stretch;
}
.logo {
  width: 60%;
  display: flex;
  align-items: center;
}
.logo * {
  padding: 6px;
}
ul {
  display: flex;
  padding-left:0px;
  padding-right:50px;
}
nav {
    max-width:40%;
}
li {
  padding: 0px 6px;
  list-style-type: none;
  
}
.btn {
    border: 1px solid var(--darkSlateBlue);
    font-size:20px;
    background-color: var(--darkSlateBlue);
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 2px 4px 15px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 4px 15px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 8px -2px rgba(0,0,0,0.75);
}

.btn:hover {
    background-color: var(--darkSlateBlue);
    transform: scale(1.1);
    transition: all ease 500ms;
}
#homeBtn {
    color:var(--darkSlateBlue);
}
header h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
}
h1 {
    font-family:'Archivo Black', sans-serif;
    color: var(--darkSlateBlue);
    text-transform: uppercase;
}
.hero h1 {
  font-size: 3em;
  letter-spacing: 1px;
}
.hero p{
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: 2.5px;
}
#hero-section {
  padding: 1em 1em 1em 1em;
  background-image: url('/public/assets/wave.svg');
  background-repeat: no-repeat; 
  background-position: bottom;
  height:600px;
}
.hero {
  padding: 2.1em;   
  border-radius: 10px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  
}

.services {
  padding: 2.5em;   
  border: solid 1px var(--thistle);
  border-radius: 10px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--thistle);
  box-shadow: 2px 4px 15px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 4px 15px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 15px -2px rgba(0,0,0,0.75);
  }

